# Site must communicate only with BFF.
# Do not add CourseService/UserService/LearningService/CodeExecutorService URLs here.
VITE_BFF_BASE_URL=http://localhost:8080
VITE_BFF_API_PREFIX=/api/v1

# Default is true. Set to false when BFF is ready.
VITE_USE_MOCK_BFF=true
