# Site must communicate only with BFF.
# Do not add CourseService/UserService/LearningService/CodeExecutorService URLs here.
VITE_BFF_BASE_URL=/api

# Default is true. Set to false when BFF is ready.
VITE_USE_MOCK_BFF=true
